<head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
  <meta charset="utf-8">
 

  <!-- COLLECTION VIEWER -->
<link rel="stylesheet" property="stylesheet" href="//phaidrastaticdev.cab.unipd.it/collectionviewer/app/css/app.css"><script data-main="//phaidrastaticdev.cab.unipd.it/collectionviewer/app/js/config-require.js" src="//phaidrastaticdev.cab.unipd.it/collectionviewer/app/js/vendor/require.min.js"></script><div id="collectionApp" class="ng-scope"><div id="collectionConfig" data-ng-init="collection.pid='o:12205';collection.organization='Università di Padova - Centro di Ateneo per la storia della Resistenza e dell\'età contemporanea';collection.organizationEmail='casrec@unipd.it';"></div><div data-collection-directive="" data-ng-controller="CollectionController" class="ng-scope"><!-- collection.html -->
<div id="loading" class="animate-show spin-icon ng-hide" data-ng-show="loadingCollectionTracker.active()" style=""></div>
<div data-ng-hide="loadingCollectionTracker.active()" data-ng-class="'collection-container collection-container-' + onlyPID" class="collection-container collection-container-12205" style="">
<div class="collection-row">
<div data-ng-if="collectionTitle" class="ng-scope" style="">
<h2 id="collection-title" data-ng-bind="collectionTitle" class="ng-binding"></h2>


<div class="collection-row">
  <!-- ngIf: objects.length --><div data-ng-if="objects.length" class="animate-enter ng-scope" style="">

<div class="cell width-6 position-0">
<div data-ng-hide="itemMetadataError.status || itemMetadataAlerts.length" class="">
<div class="text-center animate-show">
          <p>
            </p><form name="searchCollection" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength">              
	      <span class="icon search-icon"></span>
              <input name="search" id="search" size="30" data-ng-model="query" ng-minlength="3" data-ng-model-options="{debounce:300}" placeholder="Cerca nella collezione" required="" data-ng-change="currentPage = 1" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength" type="text">
              <!-- ngIf: searchCollection.search.$valid -->
            </form>
          <p></p>
        </div>
      </div><!-- metadataError -->
      <div data-ng-class="{'anim': searchCollection.search.$valid &amp;&amp; (objects | searchTitleDescFilter:query).length > 0}">
        <div class="text-center" id="pagination-top">
          <div data-dir-pagination-controls="" data-max-size="maxSize" data-auto-hide="autoHide" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length || !autoHide --><ul class="pagination ng-scope" ng-if="1 < pages.length || !autoHide"><!-- ngIf: boundaryLinks --><!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope disabled"><a href="" ng-click="setCurrent(pagination.current - 1)">‹</a></li><!-- end ngIf: directionLinks --><!-- ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' || ( ! autoHide &amp;&amp; pages.length === 1 ) }" class="ng-scope active"><a href="" ng-click="setCurrent(pageNumber)" class="ng-binding">1</a></li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' || ( ! autoHide &amp;&amp; pages.length === 1 ) }" class="ng-scope"><a href="" ng-click="setCurrent(pageNumber)" class="ng-binding">2</a></li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope"><a href="" ng-click="setCurrent(pagination.current + 1)">›</a></li><!-- end ngIf: directionLinks --><!-- ngIf: boundaryLinks --></ul><!-- end ngIf: 1 < pages.length || !autoHide --></div>
        </div>	 
        <div id="img-grid">
          <!-- ngRepeat: o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid --><a href="" data-ng-click="detail(o)" data-current-page="currentPage" ng-repeat="o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid" class="ng-scope">
	    <div id="thumbnail-container"> 
              <img id="thumbnail" class="img-responsive animate-show ng-hide-remove ng-hide-add" data-fade-in="" data-ng-src="https://phaidradev.cab.unipd.it/preview/o:12196///120" src="https://phaidradev.cab.unipd.it/preview/o:12196///120"> 
	    </div>
	    <span class="caption ng-binding">Ricognizione a Castelfranco (Treviso)</span> <!-- Ellipsis in CSS .caption class -->
          </a><!-- end ngRepeat: o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid --><a href="" data-ng-click="detail(o)" data-current-page="currentPage" ng-repeat="o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid" class="ng-scope">
	    <div id="thumbnail-container"> 
              <img id="thumbnail" class="img-responsive animate-show ng-hide-remove ng-hide-add" data-fade-in="" data-ng-src="https://phaidradev.cab.unipd.it/preview/o:12197///120" src="https://phaidradev.cab.unipd.it/preview/o:12197///120"> 
	    </div>
	    <span class="caption ng-binding">Ricognizione a Modena</span> <!-- Ellipsis in CSS .caption class -->
          </a><!-- end ngRepeat: o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid --><a href="" data-ng-click="detail(o)" data-current-page="currentPage" ng-repeat="o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid" class="ng-scope">
	    <div id="thumbnail-container"> 
              <img id="thumbnail" class="img-responsive animate-show ng-hide-remove ng-hide-add" data-fade-in="" data-ng-src="https://phaidradev.cab.unipd.it/preview/o:12198///120" src="https://phaidradev.cab.unipd.it/preview/o:12198///120"> 
	    </div>
	    <span class="caption ng-binding">Ricognizione a Treviso. Aeroporto di S. Giuseppe 1943/45</span> <!-- Ellipsis in CSS .caption class -->
          </a><!-- end ngRepeat: o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid --><a href="" data-ng-click="detail(o)" data-current-page="currentPage" ng-repeat="o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid" class="ng-scope">
	    <div id="thumbnail-container"> 
              <img id="thumbnail" class="img-responsive animate-show ng-hide-remove ng-hide-add" data-fade-in="" data-ng-src="https://phaidradev.cab.unipd.it/preview/o:12199///120" src="https://phaidradev.cab.unipd.it/preview/o:12199///120"> 
	    </div>
	    <span class="caption ng-binding">Ricognizione sull'aeroporto di Vicenza 1940/45</span> <!-- Ellipsis in CSS .caption class -->
          </a><!-- end ngRepeat: o in objects | searchTitleDescFilter:query | itemsPerPage:4 track by o.pid --> 
         </div>
<!--	    <div id="collection-item"> -->
<!--	      <div class="thumbnail-container left"> -->
<!--          	  <img class="img-responsive animate-show" data-ng-src="{{o.thumbnailURL}}" alt="test" title="test"/></a> -->
<!--	      </div>  -->
<!--      	      <div class="thumbnail-title"> -->
<!--  	        <span>{{ o.title }}</span>      -->
<!--      	      </div> -->
<!--	    </div> -->
	  
        <div class="text-center" id="pagination-bottom">
          <div data-dir-pagination-controls="" data-max-size="maxSize" data-auto-hide="autoHide" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length || !autoHide --><ul class="pagination ng-scope" ng-if="1 < pages.length || !autoHide"><!-- ngIf: boundaryLinks --><!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope disabled"><a href="" ng-click="setCurrent(pagination.current - 1)">‹</a></li><!-- end ngIf: directionLinks --><!-- ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' || ( ! autoHide &amp;&amp; pages.length === 1 ) }" class="ng-scope active"><a href="" ng-click="setCurrent(pageNumber)" class="ng-binding">1</a></li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' || ( ! autoHide &amp;&amp; pages.length === 1 ) }" class="ng-scope"><a href="" ng-click="setCurrent(pageNumber)" class="ng-binding">2</a></li><!-- end ngRepeat: pageNumber in pages track by tracker(pageNumber, $index) --><!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope"><a href="" ng-click="setCurrent(pagination.current + 1)">›</a></li><!-- end ngIf: directionLinks --><!-- ngIf: boundaryLinks --></ul><!-- end ngIf: 1 < pages.length || !autoHide --></div>
        </div>
      </div><!-- /.searchAnimation -->
    </div><!-- /.col -->
    <div class="cell width-10 position-6">
      <div id="object-view" data-ng-hide="itemMetadataError.status || itemMetadataAlerts.length" class="">
      <!-- ngIf: metadataObj.title.text --><h2 class="text-center ng-binding ng-scope" id="obj-title" data-ng-if="metadataObj.title.text" data-ng-bind-html="metadataObj.title.text | highlight:query">Ricognizione a Castelfranco (Treviso)</h2><!-- end ngIf: metadataObj.title.text -->
      <div id="top-image-container" class="detail-item" data-ng-mouseenter="hovering=true" data-ng-mouseleave="hovering=false" data-ng-swipe-right="prev(objCurrent.pos)" data-ng-swipe-left="next(objCurrent.pos)">
        <div id="top-image" class="top-image">
        <a data-ng-href="https://fedoradev.cab.unipd.it/fedora/get/o:12196/bdef:Content/get" target="_blank" href="https://fedoradev.cab.unipd.it/fedora/get/o:12196/bdef:Content/get">
          <img class="img-responsive" data-ng-src="https://phaidradev.cab.unipd.it/preview/o:12196///480" src="https://phaidradev.cab.unipd.it/preview/o:12196///480">
        </a>
        </div>
	<a class="h-nav-controls prev ng-hide transparent" data-ng-class="{'transparent':!hovering}" data-ng-hide="(objCurrent.pos-1) < 0" data-ng-click="prev(objCurrent.pos)" title="Precedente oggetto nella collezione"><span class="icon chevron-icon chevron-left-icon"></span></a>
	<a class="h-nav-controls next transparent" data-ng-class="{'transparent':!hovering}" data-ng-hide="(objCurrent.pos+1) > (objects.length-1)" data-ng-click="next(objCurrent.pos)" title="Successivo oggetto nella collezione"><span class="icon chevron-icon chevron-right-icon"></span></a>
      </div>
      </div><!-- metadata error -->

     <!-- Current object DC retrieve error -->
      <!-- ngIf: itemMetadataError.status -->
      <!-- Current object DC retrieve alerts -->
      <!-- ngIf: itemMetadataAlerts.length -->
      <!-- Object DC -->
      <!-- ngIf: itemMetadata.length --><div id="object-metadata" data-ng-if="itemMetadata.length" class="ng-scope">
        <!-- ngIf: metadataObj.description.text --><p data-ng-if="metadataObj.description.text" id="obj-description" class="break-overflow-word ng-binding ng-scope" data-ng-bind-html="metadataObj.description.text | parseUrlFilter | nl2br | highlight:query">Fotografia aerea</p><!-- end ngIf: metadataObj.description.text -->
        <!-- ngIf: metadataLanguage && metadataLanguage !== 'xxx' --><p data-ng-if="metadataLanguage &amp;&amp; metadataLanguage !== 'xxx'" class="ng-binding ng-scope"><strong>Lingua: </strong>Italiano</p><!-- end ngIf: metadataLanguage && metadataLanguage !== 'xxx' -->
        <!-- ngIf: metadataObj.subject.text --><p data-ng-if="metadataObj.subject.text" class="ng-scope"><strong>Soggetto: </strong><br>
  	<!-- ngRepeat: subject in metadataObj.subject.text.split(' - ') --><span class="subject-value ng-binding ng-scope" data-ng-repeat="subject in metadataObj.subject.text.split(' - ')">• IVSREC ricognizioni aeree</span><!-- end ngRepeat: subject in metadataObj.subject.text.split(' - ') -->
	</p><!-- end ngIf: metadataObj.subject.text -->
        <!-- ngIf: metadataObj.rights.text --><p data-ng-if="metadataObj.rights.text" class="ng-scope"><strong>Diritti: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="metadataObj.rights.text | parseUrlFilter">© Tutti i diritti riservati</span></p><!-- end ngIf: metadataObj.rights.text -->
        <!-- ngIf: collection.organization && collection.organizationEmail --><p data-ng-if="collection.organization &amp;&amp; collection.organizationEmail" class="ng-scope"><strong>Ente o persona di riferimento per la collezione: </strong><span id="organization-contact"><a data-ng-href="mailto:casrec@unipd.it" class="ng-binding" href="mailto:casrec@unipd.it"><span class="icon mail-icon"></span>Università di Padova - Centro di Ateneo per la storia della Resistenza e dell'età contemporanea</a></span></p><!-- end ngIf: collection.organization && collection.organizationEmail -->
        <p><a href="" data-ng-click="showMeta=!showMeta"><span class="black-link"><strong>Visualizza i metadati completi</strong></span><span data-ng-show="showMeta" class="icon minus-icon ng-hide"></span><span data-ng-hide="showMeta" class="icon plus-icon"></span></a></p>
<!--    <button type="button" id="full-metadata-button" data-ng-click="showMeta=!showMeta">{{showMeta && 'Nascondi i metadati completi' || 'Visualizza i metadati completi'}}</button>-->
        <div data-ng-show="showMeta" class="animate-show ng-hide" id="full-metadata-list">
          <!-- ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Titolo: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">Ricognizione a Castelfranco (Treviso)</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Autore secondario: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">Centro di Ateneo per la Biblioteche - Università degli Studi di Padova</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Descrizione: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">Fotografia aerea</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Copertura: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">1944-1945</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Soggetto: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">IVSREC ricognizioni aeree</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Lingua: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">Italiano</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">Diritti: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query">© Tutti i diritti riservati</span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' --><!-- ngIf: field.pos !== -1 && field.text --><p data-ng-if="field.pos !== -1 &amp;&amp; field.text" data-ng-repeat="field in metadataArr | orderBy:'pos'" class="ng-scope">
            <strong class="ng-binding">URL: </strong><span class="break-overflow-word ng-binding" data-ng-bind-html="field.text | parseUrlFilter | nl2br | highlight:(field.label === 'title' || field.label === 'description') &amp;&amp; query"><a target="_blank" href="http://phaidradev.cab.unipd.it/o:12196">http://phaidradev.cab.unipd.it/o:12196</a></span>
          </p><!-- end ngIf: field.pos !== -1 && field.text --><!-- end ngRepeat: field in metadataArr | orderBy:'pos' -->
        </div>
        <div id="phaidra-link">
	   <p><a data-ng-href="https://phaidradev.cab.unipd.it/o:12196" target="_blank" href="https://phaidradev.cab.unipd.it/o:12196"><span class="black-link"><strong>Visualizza in Phaidra</strong></span><span class="icon arrow-forward-icon"></span></a></p>
        </div>
      </div><!-- end ngIf: itemMetadata.length --><!-- /if itemMetadata.length -->
    </div><!-- /.col -->

  </div><!-- end ngIf: objects.length --><!-- /if objects.length -->
</div><!-- /.row -->

<!-- FOOTER -->
<div class="collection-row">
  <div class="cell width-16 position-0">
    <footer id="collection-footer">
      <p>
        <small><a href="https://phaidradev.cab.unipd.it" target="_blank"><img style="vertical-align:middle" src="https://phaidrastaticdev.cab.unipd.it/collectionviewer/app/img/phaidra-logo-small.png" title="Phaidra" alt="Phaidra-logo"></a>&nbsp;è un servizio del <a href="https://bibliotecadigitale.cab.unipd.it/" target="_blank">Sistema Bibliotecario di Ateneo</a>&nbsp;dell'<a href="//www.unipd.it/" target="_blank">Università degli Studi di Padova</a>&nbsp;©&nbsp;<span id="year" data-ng-bind="year" class="ng-binding">2017</span> - <a href="https://phaidra.cab.unipd.it/terms_of_use/show_terms_of_use" target="_blank">Condizioni d'uso</a></small>
      </p>
    </footer>
  </div><!-- col -->
</div><!-- /.row -->

</div><!-- /.container -->
</div></div>
  <!-- /COLLECTION VIEWER -->


</body>